<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .add-to-cart {
      width: 100%;
      height: 100%;
      color: white;
      background: #303030;
      border: none;
      line-height: 50px;
      transition: .5s;

    }
    .add-to-cart:hover {
      background-color: #70c745;
      transition: .5s;
    }
    .active {
      color: #70c745 !important;
    }
    .form-add-to-cart {
      visibility: hidden;
      width: 100%;
      position: absolute;
      top: 68%;
      z-index: 100;
    }

    .single-product-area:hover .form-add-to-cart  {
      visibility: visible;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="
    background-image: url(img/bg-img/24.jpg);">
      <h2>Shop</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Shop Area Start ##### -->
  <section class="shop-page section-padding-0-100">
    <div class="container">


      <div class="row">
        <!-- Sidebar Area -->
        <div class="col-12 col-md-4 col-lg-3">
          <div class="shop-sidebar-area">
            <!-- Shop Widget -->
            <div class="shop-widget catagory mb-50">
              <h4 class="widget-title">Categories</h4>
              <div class="widget-desc">
                <!-- Single Checkbox -->
                <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                    <a  th:href="@{/products(page=__${1}__) }">
                      <div th:class="${filterCategory == 0} ? active" style="cursor:pointer">All</div>
                    </a>
                </div>
                <!-- Single Checkbox -->
                <div th:each="category : ${categories}" class="custom-control custom-checkbox d-flex align-items-center mb-2">
                  <a  th:href="@{/products(page=__${1}__,category=__${category.id}__) }">
                    <div th:class="${filterCategory == category.id} ? active" style="cursor: pointer; font-size: 16px;color: #707070;" th:text="${category.name}"></div>
                  </a>

                </div>

              </div>
            </div>

            <!-- Shop Widget -->
            <div class="shop-widget best-seller mb-50">
              <h4 class="widget-title">Best Seller</h4>
              <div class="widget-desc">

                <!-- Single Best Seller Products -->
                <div th:each="item : ${besSellerProducts}" class="single-best-seller-product d-flex align-items-center">
                  <div class="product-thumbnail">
                    <a th:href="@{/products/detail/{id}(id=${item.getId()})}"><img th:src="@{/img/}+${item.getImage()}" alt=""></a>
                  </div>
                  <div class="product-info">
                    <a th:href="@{/products/detail/{id}(id=${item.getId()})}" th:text="${item.getTitle()}">Cactus Flower</a>
                    <p th:text="${item.getPrice()}">$10.99</p>
                    <div class="ratings">
                      <p th:text="'Sold Quantity: ' + ${item.calculateTotalSoldQuantity()}">$10.99</p>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-8 col-lg-9">
          <div class="search-form">
            <form  th:action="@{/orders}" method="get">
              <input style="    width: 80%;
    height: 45px;
    border: 1px solid #ebebeb;
    padding: 0 30px;
    border-radius: 5px;
    font-size: 14px;" type="search" name="search" id="search" placeholder="Finding...">
              <button type="submit" class="d-none"></button>
            </form>
          </div>

          <div class="shop-products-area">

            <div class="row">
              <div th:each="product : ${products}" class="col-12 col-sm-6 col-lg-4">
                <div class="single-product-area mb-50">
                  <div class="product-img" style=" pointer-events: none;">
                    <img th:src="@{/img/}+${product.image}" alt="plant">
                    <div class="product-tag">
                      <a href="#">Hot</a>
                    </div>
                    <div class="product-meta d-flex">
                    </div>
                  </div>
                  <form  class="form-add-to-cart" style="width: 100%" th:action="@{/cart/{id}(id=${product.id})}" method="post">
                    <button type="submit" class="add-to-cart">Add To Cart</button>
                  </form>
                  <!-- Product Info -->
                  <div class="product-info mt-15 text-center">
                    <a th:href="@{/products/detail/{id}(id=${product.getId()})}">
                      <p th:text="${product.title}"></p>
                    </a>
                    <h6 th:text="${product.price}+'vnd'"></h6>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item" th:if="${currentPage>=1}" th:class="${currentPage == 0} ? disabled">
                  <a class="page-link" th:href="@{/products(page=__${currentPage}__, category=__${filterCategory}__)}">&laquo;</a>
                </li>

                <li class="page-item"  th:each="page : ${#numbers.sequence(0, totalPages)}" th:class="${currentPage == page} ? active">
                  <a class="page-link" th:href="@{/products(page=__${page+1}__, category=__${filterCategory}__) }" th:text="${page+1}"></a>
                </li>

                <li class="page-item" th:if="${currentPage <= totalPages-1}" th:class="${currentPage == totalPages} ? disabled">
                  <a class="page-link" th:href="@{/products(page=__${currentPage+2}__, category=__${filterCategory}__)}">&raquo;</a>
                </li>
<!--                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>-->
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>

</body>
</html>