<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .payment-failed {
      background-color: #ffcccc;
      border: 1px solid #ff6666;
      padding: 10px;
      border-radius: 5px;
    }

    .payment-failed h3 {
      color: #ff3333;
    }

    .payment-failed p {
      color: #ff3333;
      margin-bottom: 10px;
    }

  </style>
</head>
<body>
<div class="payment-failed">
  <h3>Thanh toán thất bại</h3>
  <p>Xin lỗi, thanh toán của bạn không thành công.</p>
  <p>Vui lòng thử lại hoặc liên hệ với bộ phận hỗ trợ khách hàng.</p>
</div>

</body>
</html>