<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout">
<head>
  <title>Forget password</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">

  <div class='sign'>
    <div class="sign__cover">
      <div className="sign__logo">
        <a href="/">
          <img th:src="@{/img/logo.png}" alt="logo" />
        </a>
      </div>
      <form th:action="@{/forget}"  method="POST">

        <div class="input">
          <input  type="email" placeholder="Email"  id="email" name="email" required>
        </div>
        <small th:if="${checkError}" th:text="${checkError}" class="form-text text-danger"></small>

        <div class="login">
          <button type="submit" class="btn-login">Submit</button>
        </div>
        <div class="signin_q" style="marginTop: .5rem">
          Already a member? <a th:href="@{/login}">Sign In</a>
        </div>
      </form>

    </div>
  </div>
</div>
</body>
</html>
