<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Admin/Product/layoutProduct"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <style>
    .book-card {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
<div layout:fragment="book">
  <div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
      <h1  class="text-center">List Plants</h1>
      <div class="row">
        <div class="col-md-4" th:each="product : ${products}">
          <div class="book-card">
            <div class="card">
              <div class="card-header">
                <h3 class="text-center" th:text="${product.getTitle()}"></h3>
              </div>
              <div class="card-body">
                <div  style="display: flex; align-items: center; justify-content: space-between">
                  <div>
                    <div class="form-group">
                      <p>
                        <span style="color: black; font-weight: bold">Description: </span>
                        <span style="color: black" id="author" th:text="${product.getDescription()}"></span>
                      </p>
                    </div>
                    <div class="form-group">
                      <p>
                        <span style="color: black; font-weight: bold">Price: </span>
                        <span  style="color: black" id="price" th:text="${product.getPrice()}"></span>
                      </p>
                    </div>
                    <div class="form-group">
                      <p>
                        <span style="color: black; font-weight: bold">Category: </span>
                        <span style="color: black" id="category" th:text="${product.category.getName()}"></span>
                      </p>
                    </div>
                    <div class="form-group">
                      <p>
                        <span style="color: black; font-weight: bold">Quantity: </span>
                        <span style="color: black" id="quantity" th:text="${product.quantity}"></span>
                      </p>
                    </div>
                    <div class="form-group">
                      <p>
                        <span style="color: black; font-weight: bold">Sold Quantity: </span>
                        <span style="color: black" id="soldQuantity" th:text="${product.calculateTotalSoldQuantity()}"></span>
                      </p>
                    </div>
                  </div>
                  <img style="width: 100px; height: 150px" th:src="@{/img/}+${product.image}">
                </div>

                <div sec:authorize="hasAnyAuthority('ADMIN')" class="text-center" style="display:flex;justify-content:space-around">
                  <form th:action="@{/admin/product/edit/{id}(id=${product.id})}" method="post">
                    <button class="btn btn-primary" type="submit">
                      Edit
                    </button>
                  </form>
                  <a th:href="@{/admin/product/delete/{id}(id=${product.id})}"  onclick="deleteProduct(this)">
                    <button class="btn btn-danger">Delete</button>
                  </a>
                  <form th:if="${product.getIsPublish()}" th:action="@{/admin/product/unpublish/{id}(id=${product.id})}" method="post">
                    <button class="btn btn-secondary" type="submit">
                      UnPublish
                    </button>
                  </form>
                  <form th:if="${!product.getIsPublish()}" th:action="@{/admin/product/publish/{id}(id=${product.id})}" method="post">
                    <button class="btn btn-success" type="submit">
                      Publish
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:inline="javascript">
    const deleteProduct = (link) => {
      let token = $("meta[name='_csrf']").attr("content");
      let header = $("meta[name='_csrf_header']").attr("content");
      if(confirm('Có muốn chắc là xóa hơm?')) {
        event.preventDefault();
        $.ajax({
          url:$(link).attr('href'),
          type: 'DELETE',
          beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
          },
          success: function(response) {
            console.log(response);
            window.location.href = '/admin/products';
          },
          error: function(xhr, status, error) {
            alert("Không thể xóa do sản phẩm!")
            window.location.href = '/admin/products';

          }
        })
      } else {
        event.preventDefault();
      }
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>

</body>
</html>
