<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Admin/admin">
<head>
  <meta charset="UTF-8">
  <title>Order List</title>
</head>
<body>
<div layout:fragment="content" style="background: white; color: black">

  <div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
      <div class="container-xl">

        <h1 class="app-page-title">Coupon</h1>
        <div class="row gy-4">
          <div class="col-12 col-lg-8">
            <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
              <div class="app-card-header p-3 border-bottom-0">
                <div class="row align-items-center gx-3">
                  <div class="col-auto">
                      Create Coupon
                  </div><!--//col-->
                </div><!--//row-->
              </div><!--//app-card-header-->
              <form method="post" th:object="${coupon}" th:action="@{/admin/coupons/add}" style="width: 100%">
              <div class="app-card-body px-4 w-100">
                <small th:text="${err}" class="form-text text-danger"></small>
                <div class="item border-bottom py-3">
                  <div class="row justify-content-between align-items-center">
                    <div style="width: 100%" class="col-auto">
                      <div class="item-label"><strong>Code</strong></div>
                      <input th:field="${coupon.code}" type="text" class="form-control" id="name"   required="">
                    </div><!--//col-->

                  </div><!--//row-->
                </div><!--//item-->
                <div class="item border-bottom py-3">
                  <div class="row justify-content-between align-items-center">
                    <div style="width: 100%" class="col-auto">
                      <div class="item-label"><strong>Discount</strong></div>
                      <input th:field="${coupon.discount}"  min="1" max="99" type="number" class="form-control" id="email"   required="">
                    </div><!--//col-->

                  </div><!--//row-->
                </div><!--//item-->
                <div class="item border-bottom py-3">
                  <div class="row justify-content-between align-items-center">
                    <div style="width: 100%" class="col-auto">
                      <div class="item-label"><strong>Expire</strong></div>
                      <input th:field="${coupon.expirationDate}" type="date" class="form-control" id="phone"   required="">

                    </div><!--//col-->

                  </div><!--//row-->
                </div><!--//item-->
              </div><!--//app-card-body-->
              <div class="app-card-footer p-4 mt-auto">
                <button type="submit" class="btn app-btn-secondary" href="#">Submit</button>
              </div><!--//app-card-footer-->
              </form>

            </div><!--//app-card-->
          </div><!--//col-->
        </div><!--//row-->

      </div><!--//container-fluid-->
    </div><!--//app-content-->
  </div><!--//app-wrapper-->


</div>
<!-- Display the list of orders here -->
</body>
</html>
